<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ta_Maker.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SQLiteConnectionString" providerName="System.Data.SQLite" connectionString="Data Source=C:\Database\TaDatabase.db;Version=3;New=true; compress=true"/>
  </connectionStrings>
  
  <userSettings>
    <Ta_Maker.UserInterface.Properties.Settings>
      <setting name="DYear" serializeAs="String">
        <value />
      </setting>
      <setting name="DMonth" serializeAs="String">
        <value />
      </setting>
      <setting name="UnitName" serializeAs="String">
        <value />
      </setting>
      <setting name="ThemeMe" serializeAs="String">
        <value />
      </setting>
    </Ta_Maker.UserInterface.Properties.Settings>
  </userSettings>
</configuration>